  /* ---------------------------------------
  HEADER
  ------------------------------------------ */

  .container-header {
    max-width: 960px;
    margin: 0 auto;
  }

  .title h1 {
    font-size: clamp(1.125rem, 5.5vw, 1.5rem);
  }

  .title h1 .sub-text-1 {
    font-size: clamp(1.65rem, 8vw, 2.25rem);
    letter-spacing: 1.2px;
  }

  .title h1 .sub-text-2 {
    font-size: clamp(4.35rem, 23vw, 6rem);
    letter-spacing: 1.2px;
    text-shadow: 2px 2px 0 rgb(var(--main-yellow)), -2px 2px 0 rgb(var(--main-yellow)), -2px -2px 0 rgb(var(--main-yellow)), 2px -2px 0 rgb(var(--main-yellow));
    color: #fff;
  }

  /* .img-header picture img {
    max-width: 300px;
  } */

  .cinta {
    background-color: rgb(var(--blue-card));
    margin: 0 -1rem;
  }

  /* ---------------------------------------
  CARDS
  ------------------------------------------ */
  .card-body {
    background-color: rgb(var(--blue-card));
  }

  /* ---------------------------------------
  FORM SECTION
  ------------------------------------------ */

  .form-section {
    background-color: rgb(var(--blue-card));
    margin: 0 -1rem;
  }

  /* ---------------------------------------
  FOOTER
  ------------------------------------------ */

  footer {
    margin: 0 -1rem;
  }