:root {

  --open-sans: 'Open Sans', sans-serif;
  --blue: 25, 81, 140;
  --purple-blue: 34, 43, 63;
  --main-blue: 25, 81, 140;
  --dark-blue: 34, 44, 63;
  --footer-blue: 4, 27, 51;
  --light-blue: 122, 193, 254;
  --blue-card: 34, 44, 63, 1;
  --blue-subMenu: 229, 235, 248;
  --main-yellow: 251, 192, 9;
  --dark-yellow: 244, 163, 32;
  --red: 222, 29, 39;
  --grey: 245, 243, 243;
  --middle-grey: 221, 221, 221;
  --dark-grey: 177, 175, 175;
  --brillo: 255, 255, 255;
  --border-color: 0, 0, 0, 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans);
}


body {
  color: rgba(var(--dark-blue), 1);
  max-width: 2200px;
  margin: 0 auto !important;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0 !important;
  font-size: clamp(0.95rem, 1vw, 1rem);
  font-weight: 300;
  letter-spacing: 0.56px;
}

li {
  list-style: none !important;
}

ol {
  padding-left: 0 !important;
}

img,
svg {
  max-width: 100%;
  height: auto;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.2rem 0;
}

figure {
  margin: 0 !important;
}

footer {
  background-color: rgb(var(--footer-blue));
}

select {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  color: rgb(var(--footer-blue));
}

p strong {
  font-weight: 500;
}